.padding__2 {
  padding: 2rem;
}

.width__select {
  width: 50ch;
  margin: 8px !important;
}

.background__color__forms {
  background-color: #fff;
}

.img__width {
  height: 130px;
}

.background__fill {
  background-color: aliceblue !important;
}

.tips__width {
  width: 30%;
}

.tips__container {
  /* background-color: #f8f8f8; */
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 4px;
  padding: 2rem 3rem;
}

.text__color__grey {
  color: rgb(118, 118, 118);
}