.padding__2 {
  padding: 2rem;
}

.width__select {
  width: 50ch;
  margin: 8px !important;
}

.background__color__forms {
  background-color: #fff;
}

.img__width {
  height: 200px;
}

.background__fill {
  background-color: aliceblue !important;
}
