#MyAccount {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex: 0.2;
  background-color: aliceblue;
}

.account__info {
  flex: 0.8;
  background-color: aliceblue;
  color: black;
}

.my__bio {
  border: 1px solid black;
  background-color: white;
  height: 200px;
  width: 300px;
}

@media screen and (max-width: 768px) {
  #aaprasymas {
    overflow-y: auto;
    scrollbar-width: none;
  }
}

.margin__0__rem {
  margin: 0rem !important;
}

p {
  padding: 0.5rem;
}