.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.primary__buttons {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.google__button {
  display: flex;
  justify-content: center;
}