.mainMenu {
  overflow: hidden;
  background-color: #333;
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainMenu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.mainMenu a:hover {
  background: #ddd;
  color: black;
}

@media screen and (max-width: 768px) {
  .mainMenu {
    display: none;
  }
}
