.mainMenu {
  overflow: hidden;
  background-color: #333;
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainMenu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 15px;
}

.mainMenu a:hover {
  background: #ddd;
  color: black;
}

.name__color {
  color: white;
  right: 4rem;
  position: absolute;
}
