.message {
    align-items: center;
    padding: 0.1rem;
    color: white;
  }
  
  .message__info {
    margin-left: 20px;
  }
  
  .message__timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
  }

  .message__background {
    background-color: lightslategrey;
    margin-left: 0.9rem;
    max-width: 85%;
    padding: 6px 12px 7px;
  }

  