.pagrdiv_lightbox {
  flex-direction: row;
  border: 2px solid yellow;
}
.small__images {
  width: 180px;
  height: 121px;
  margin-bottom: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.img-height-width {
  width: 500px;
  height: 375px;
  cursor: pointer;
}

.mini_photos {
  border: 2px solid green;
  flex-direction: column;
}

.main_photo {
  border: 2px solid red;
}

@media only screen and (max-width: 992px) {
  /* .small__images {
  }
  .main_photo {
  } */
  .pagrdiv_lightbox {
    flex-direction: column-reverse;
  }
  .mini_photos {
    flex-direction: row;
  }
}
