.pagrdiv_lightbox {
  display: flex;
  flex-direction: row;
}
.small__images {
  width: 6rem;
  height: 6rem;
  margin: 0 0.1rem 0.1rem 0.1rem;
  cursor: pointer;
  object-fit: cover;
}

.img-height-width {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.mini_photos {
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
}

.main_photo {
  width: 43rem;
  height: 24.3rem;
  /* border: 2px solid red; */
}

@media only screen and (max-width: 768px) {
  .pagrdiv_lightbox {
    flex-direction: column-reverse;
  }
  .mini_photos {
    flex-direction: row;
  }
  .main_photo {
    width: 100%;
  }
  .small__images {
    margin: 0.1rem 0.05rem 0.1rem 0.05rem;
  }
}

@media only screen and (max-width: 576px) {
  .small__images {
    width: 24.5%;
    height: 5rem;
  }
}
