.card {
  border-radius: 0.5rem;
  justify-content: center;
}

.text-dark {
  color: #343a40 !important;
}

.card-title {
  margin-bottom: 0.1rem;
  margin-top: auto;
}

.h4,
h4 {
  font-size: 1.5rem;
}

.text-secondary {
  color: #6c757d !important;
}

p {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-text {
  font-size: 0.9rem;
}

.card-img-top {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(0.97);
}

.overflow {
  overflow: hidden;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.card__img__height {
  /* width: 100%; */
  /* height: 10vw; */
  /* height: 100%; */
  height: 150px;
  object-fit: cover;
}

.card__width {
  /* width: 15rem; */
  margin-bottom: 5%;
}
