.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  justify-content: center;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.text-dark {
  color: #343a40 !important;
}

.card-title {
  margin-bottom: 0.1rem;
  margin-top: auto;
}

.h4,
h4 {
  font-size: 1.5rem;
}

.text-secondary {
  color: #6c757d !important;
}

p {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.col-md-4 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card {
  width: 20rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-text {
  font-size: 0.9rem;
}

.container-fluid .row {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.col-md-4 {
  flex: 0 0 25% !important;
  max-width: 25% !important;
}

.card-img-top {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(0.97);
}

.overflow {
  overflow: hidden;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
