.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 30%,
    rgba(103, 149, 220, 0.5) 60%,
    rgba(103, 149, 220, 0.8) 70%,
    rgb(0, 0, 0, 1) 100%
  );
  color: #000; */
}

.loading .loading-image {
  height: 100px;
}

.ad {
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-around;
  display: flex;
}

.flex__column {
  flex-direction: column;
}

.img__ad {
  height: 50px;
  width: 72px;
}

.margin__left__right__16px {
  margin-left: 16px;
  margin-top: 16px;
}

.text__color {
  color: rgb(118, 118, 118);
}

.margin__top__bottom__2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* !!! MP = MAIN PAGE !!! */
.img-mp-size {
  width: 100%;
}

.kazkas {
  width: 19%;
}

@media only screen and (max-width: 1400px) {
  .kazkas {
    width: 24%;
  }
}

@media only screen and (max-width: 992px) {
  .eiliskumas-1 {
    order: 1;
  }
  .kazkas {
    width: 32%;
  }
}

@media only screen and (max-width: 768px) {
  .kazkas {
    width: 49%;
  }
}

@media only screen and (max-width: 576px) {
  .kazkas {
    width: 100%;
    margin: 0 2% 2% 2%;
  }
}
