.container-fluid .eilute {
  padding-top: 0rem !important;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.kazkas {
  /* flex: 0 0 25% !important; */
  flex: 1 0 21% !important;
  max-width: 21% !important;
  padding: 1rem;
}

.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 30%,
    rgba(103, 149, 220, 0.5) 60%,
    rgba(103, 149, 220, 0.8) 70%,
    rgb(0, 0, 0, 1) 100%
  );
  color: #000; */
}

.loading .loading-image {
  height: 100px;
}

<<<<<<< HEAD
.ad {
  flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-around;
    display: flex;
}

.flex__column {
  flex-direction: column;
}

.img__ad {
  height: 50px;
  width: 72px;
}

.margin__left__right__16px {
  margin-left: 16px;
  margin-top: 16px;
}

.text__color {
  color: rgb(118, 118, 118);
}

.margin__top__bottom__2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
=======
.containeris_dydis {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 1400px;
}

/* !!! MP = MAIN PAGE !!! */
.img-mp-size {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .eiliskumas-1 {
    order: 1;
  }
}
>>>>>>> 30e0b78b2f86c6f3250d52956e843caa3ad5ace5
