.ad {
  -webkit-box-pack: justify;
}

.img__ad {
  height: 50px;
  width: 72px;
}

.margin__left__right__16px {
  margin-left: 16px;
  margin-top: 16px;
}

.text__color {
  color: rgb(118, 118, 118);
}

/* !!! MP = MAIN PAGE !!! */
.img-mp-size {
  width: 100%;
}

.kazkas {
  width: 19%;
}

@media only screen and (max-width: 1400px) {
  .kazkas {
    width: 24%;
  }
}

@media only screen and (max-width: 992px) {
  .eiliskumas-1 {
    order: 1;
  }
  .kazkas {
    width: 32%;
  }
}

@media only screen and (max-width: 768px) {
  .kazkas {
    width: 49%;
  }
}

@media only screen and (max-width: 576px) {
  .kazkas {
    width: 100%;
    margin: 0 2% 2% 2%;
  }
}
