.category__card__width {
  width: 11%;
}

@media only screen and (max-width: 992px) {
  .category__card__width {
    width: 24%;
  }
}

.text__color__black {
  color: black;
}

.border__radius__50proc {
  border-radius: 50%;
}
