.product-center {
  margin-left: 10%;
  /* margin-right: 10%; */
}

.padding-2-rem {
  padding: 2rem;
}

.padding-1-rem {
  padding: 0.5rem;
}
.img-size {
  height: 400px;
}

.img-height-width {
  width: 500px;
  height: 375px;
  cursor: pointer;
}

.paddings-for-img {
  display: flex;
  justify-content: center;
}

.button-margin {
  margin: 1rem 1rem 1rem 0 !important;
}

.item__info {
  flex: 0.7;
}

.item__user__info {
  flex: 0.3;
  right: 10rem;
  position: fixed;
}

.item__page {
  display: flex !important;
  margin-left: 7rem;
}

.avatar__margin__bottom__0 {
  margin-bottom: 0rem;
}

.container__width {
  width: 120px;
  height: 120px;
}
