.padding-2-rem {
  padding: 2rem;
}

.padding-1-rem {
  padding: 0.5rem;
}
.img-size {
  height: 400px;
}

.paddings-for-img {
  display: flex;
  justify-content: center;
}

.item__info {
  width: 70%;
  border: 2px solid blueviolet;
}

.item__user__info {
  display: flex;
  flex-direction: column;
  /* width: 20%; */
}
/* 
.item__page {
  display: flex !important;
  margin-left: 7rem;
} */

.avatar__margin__bottom__0 {
  margin-bottom: 0rem;
}

.container__width {
  width: 120px;
  height: 120px;
}

@media only screen and (max-width: 992px) {
  .item__info {
    width: 100%;
  }
  .item__user__info {
    flex-direction: row;
  }
}
