.container__width {
  width: 80% !important;
  height: 20% !important;
  margin-left: 10% !important;
  /* overflow: hidden;
  object-fit: cover; */
}

.w-100 {
  /* width: 100% !important; */
  /* object-fit: fill !important; */
  max-width: 100%;
  height: auto;
  height: 30rem;
  /* object-fit: cover; */
}

@media only screen and (max-width: 992px) {
  .container__width {
    display: none;
  }
}
