.ad {
  padding: 0 2% 0 2%;
}

.img__ad {
  height: 50px;
  width: 72px;
}

.margin__left__right__16px {
  margin-left: 16px;
  margin-top: 16px;
}

.text__color {
  color: rgb(118, 118, 118);
}

.margin__top__bottom__2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
