.margin__16px__padding__2rem__height {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  /* flex: 1 1 364px; */

  padding: 2rem;
  width: 45%;
  margin: 1rem;
}

@media only screen and (max-width: 992px) {
  .margin__16px__padding__2rem__height {
    width: 100%;
  }
}
