.display__flex {
  display: flex;
}

.flex__direction__column {
  flex-direction: column;
}

.color__set__white {
  color: white;
}

.color__set__black {
  color: black;
}

.align__all__items__center {
  align-items: center;
}

.justify__content__center {
  justify-content: center;
}

.margin__bottom__1rem {
  margin-bottom: 1rem;
}

.margin__right__and__left__10rem {
  margin-right: 10rem;
  margin-left: 10rem;
}

.width__30rem {
  width: 30rem;
}

.justify__content__space__around {
  justify-content: space-around;
}

.font__size__x__large {
  font-size: 20px;
}

.margin__left__3percent {
  margin-left: 3%;
}

.padding__1rem {
  padding: 1rem;
}

.button__color__red {
  color: red;
}

.button__color__black {
  color: black;
}

.padding__0 {
  padding: 0%;
}

.margin__left__3__2rem {
  margin-left: 3.2rem;
}

.message__border__radius {
  border-bottom-left-radius: 1.3em;
  border-top-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
  border-top-right-radius: 1.3em;
}

.message__font__size__12px {
  font-size: 12px;
  color: darkgray;
}

.favorites__red {
  color: red;
}

.container-fluid .eilute {
  padding-top: 0rem !important;
  /* padding-bottom: 5rem; */
  display: flex;
  flex-wrap: wrap;
}

.text__color__selection {
  color: #007bff;
}

.text__color__selection:hover {
  color: #0056b3;
}

.font__size__1rem {
  font-size: 1rem;
}

.padding__05rem {
  padding: 0.5rem;
}

.containeris_dydis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  max-width: 1400px;
}

.small__images {
  width: 180px;
  height: 121px;
  margin-bottom: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.margin__bottom {
  margin-bottom: 0 !important;
}

.margin__right {
  margin-right: 20px;
}

.margin__left__4rem {
  margin-left: 4rem;
}

.margin__top__bottom {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.margin__2rem {
  margin: 2rem;
}

.margin__right__5rem {
  margin-right: 5rem;
}

.color__grey__like {
  color: rgb(118, 118, 118);
}

.margin__left__5proc {
  margin-left: 5%;
}

.margin__1rem {
  margin: 1rem;
}

.active__background__color {
  background-color: darkseagreen;
}

.inactive__background__color {
  background-color: burlywood;
}