.display__flex {
    display: flex;
}

.color__set__white {
    color: white;
}

.color__set__black {
    color: black;
}

.align__all__items__center {
    align-items: center;
}

.justify__content__center {
    justify-content: center;
}