.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  height: 77.5vh;
  background-color: aliceblue;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, .10);
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  border-right: 1px solid rgba(0, 0, 0, .10);

}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  color: black;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  padding: 10px 16px 10px 16px;
}

.sidebar__channels {
  flex: 1;
}

.sidebar__addChannel {
  cursor: pointer;
}

/* .sidear__addChannel:hover {
    color: white;
  } */
